body {
    background-color: #414141;
}


.browser_background_img {
    background-image: url("../imgs/Vector 7.svg");
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
